<!DOCTYPE html>
<html>
  <head>
    <title>BlogRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d3b176655c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;800&family=Saira+Extra+Condensed:wght@500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <section class="main-content columns is-fullheight" role="navigation" aria-label="main navigation">
      <%= render 'shared/sidenav' %>
      <div class="column is-10">
        <div class="container">
          <div class='row'>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
